<template>
  <PromoContent/>
</template>

<script>
import PromoContent from '../components/promo-content.vue';

export default {
  name: 'MainPage',
  components: {
    PromoContent,
  },
};
</script>
