<template>
  <main>
    <div class="wrapper">
      <TasksControl/>
      <TasksList/>
    </div>
  </main>
</template>

<script>
import TasksList from '../components/tasks-list.vue';
import TasksControl from '../components/tasks-control.vue';

export default {
  name: 'TasksPage',
  components: {
    TasksList,
    TasksControl,
  },
};
</script>
