<template>
  <main>
    <TaskDetailed/>
  </main>
</template>

<script>
import TaskDetailed from '../components/task-detailed.vue';

export default {
  name: 'TaskPage',
  components: {
    TaskDetailed,
  },
};
</script>
