<template>
  <div id="app">
    <StandardHeader />
    <router-view />
    <StandardFooter />
  </div>
</template>

<script>
import StandardHeader from './views/components/standard-header.vue';
import StandardFooter from './views/components/standard-footer.vue';

export default {
  name: 'App',

  components: {
    StandardHeader,
    StandardFooter,
  },
};
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

#app {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

main {
  min-height: 100vh;
}

button {
  cursor: pointer;
}
</style>
