<template>
  <h1 v-if="type === 'header'">
    <router-link to="/">
      ToDo
      <HiddenText text="приложение по организации вашего предприятия" />
    </router-link>
  </h1>
  <h2 v-else>
    <router-link to="/">
      ToDo
      <HiddenText text="приложение по организации вашего предприятия" />
    </router-link>
  </h2>
</template>

<script>
import HiddenText from './hidden-text.vue';

export default {
  name: 'MainLogo',
  components: {
    HiddenText,
  },
  props: {
    type: String,
  },
};
</script>

<style>
  a {
    text-decoration: none;
    color: tomato;
  }

</style>
