<template>
  <nav>
    <ul>
      <li
        v-for="path in localPaths.paths"
        :key="path.path"
      >
        <router-link :to="{path: path.path}">
          {{path.text}}
        </router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
import paths from '../../utils/const';

export default {
  name: 'MainNavigation',
  created() {
    this.currentUrl = window.location.pathname;
    this.localPaths = paths;
  },
  props: {
    active: String,
  },
};
</script>

<style lang="scss" scoped>
  a {
    color: #000;
    text-decoration: none;
  }

  .router-link-exact-active {
    transition: color 0.5s;
    color: tomato;
  }

  ul {
    display: flex;
    list-style: none;
  }

  li {
    margin-left: 1.5rem;
  }
</style>
