<template>
  <ul v-if="isLogged === false">
    <li>
      <router-link to="/signin">Войти</router-link>
    </li>
    <li>
      <router-link to="/signup" class="signin">Зарегистрироваться</router-link>
    </li>
  </ul>

  <div v-else>
    <img src="../../assets/avatar.jpeg" width="50" height="50" alt="">
    <router-link class="user-info" to="/tasks">
      <span class="name">{{user.name}}</span>
      <span class="position">{{user.position}}</span>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'MainUser',
  props: {
    isLogged: Boolean,
  },
  data: () => ({
    user: {},
  }),
  async mounted() {
    const response = await fetch('http://localhost:3001/user');
    const info = await response.json();
    this.user = info;
  },
};
</script>

<style  lang="scss" scoped>
  ul {
    display: flex;
    list-style: none;
  }

  li {
    margin-left: 1.5rem;
  }

  a {
    color: #000;
    text-decoration: none;
  }

  .signin {
    background-color: tomato;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #fff;
  }

  div {
    display: flex;
    margin-left: 1rem;
    align-items: center;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 0.5rem;
    transition: color 0.5s;

    &:hover {
      color: tomato;
    }
  }

  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
</style>
