<template>
  <form>
    <label for="search">
      <HiddenText text="Введите запрос поиска"/>
      <input type="text" name="search-request" id="search">
    </label>
    <button type="submit">Найти</button>
  </form>
</template>

<script>
import HiddenText from './hidden-text.vue';

export default {
  name: 'MainSearch',
  components: {
    HiddenText,
  },
};
</script>

<style lang="scss" scoped>
  form {
    display: flex;
    padding: 0.2rem;
    margin-left: auto;
    align-items: stretch;
    border-radius: 1rem;
  }
  label {
    flex: 1;
  }
  input {
    border: none;
    background: none;
    flex: 1;
    border: 0.1rem solid tomato;
    border-radius: 1rem;
    height: 100%;
    padding: 0.5rem;
    font-size: 1rem;
  }
  button {
    border: none;
    background: none;
    font-size: 1rem;
    color: #fff;
    padding: 0.5rem;
    background-color: tomato;
    border-radius: 1rem;
    margin-left: 1rem;
  }
</style>
