<template>
  <main>
    <section class="promo">
      <div class="promo__wrapper wrapper">
        <div class="promo__text-wrapper">
          <h2 class="promo__title">
            {{data.promo_title}}
          </h2>
          <p class="promo__text">
            {{data.promo_text}}
          </p>
          <router-link to="/signup" class="signup">
            Регистрируемся!
          </router-link>
        </div>
        <img
          src="../../assets/b-woman.webp"
          width="600"
          height="600"
          alt=""
          class="promo__img"
        >
      </div>
    </section>
    <section class="description">
      <div class="wrapper description__wrapper">
        <img
          src="../../assets/b-woman-alt.jpg"
          alt=""
          class="description__img"
        >
        <div class="description__text-wrapper">
          <h2 class="description__title">
            {{data.description_title}}
          </h2>
          <p class="description__text">
            {{data.description_text}}
          </p>
          <div class="description__subscription">
            <h3 class="description__subtitle">{{data.description_subtitle}}</h3>
            <ul class="description__list">
              <li
                class="description__benefit"
                v-for="(element, index) in data.description_why"
                :key="index">{{element}}</li>
            </ul>
            <router-link to="/signup" сlaass="signup">
              Регистрируемся!
            </router-link>
          </div>
        </div>
      </div>
    </section>
    <section class="form">
      <div class="wrapper form__wrapper">
        <h2 class="form__title">{{data.form_title}}</h2>
        <p class="form__text">
          {{data.form_text}}
        </p>
        <form action="" class="form__form">
          <label for="callback" class="form__label">
            <input
              type="email"
              name="email-callback"
              id="callback"
              class="form__input"
              placeholder="ToDo@ToDo.com"
            >
          </label>
          <button type="submit" class="form__submit">Оставить почту</button>
        </form>
      </div>
    </section>
  </main>

</template>

<script>
export default {
  name: 'PromoContent',
  data: () => ({
    data: {},
  }),
  async mounted() {
    const response = await fetch('http://localhost:3001/main');
    const info = await response.json();
    this.data = info;
  },
};
</script>

<style lang="scss" scoped>
  .promo__wrapper,
  .description__wrapper {
    display: flex;
    align-items: center;
  }

  .promo__text-wrapper {
    margin-right: auto;
    width: 40%;
  }

  .description__text-wrapper {
    margin-left: auto;
    width: 40%;
  }

  h2 {
    max-width: 30rem;
  }

  p {
    margin-top: 1rem;
    max-width: 30rem;
    margin-bottom: 2rem;
  }

  .important {
    color: tomato;
    font-weight: 800;
  }

  a {
    padding: 1rem;
    border-radius: 1rem;
    background-color: tomato;
    color: #fff;
  }

  .promo__img,
  .description__img {
    display: block;
    width: 50%;
    height: 600px;
    object-fit: cover;
    border-radius: 2rem;
  }

  section {
    min-height: 100vh;
    padding-top: 3rem;
  }

  .description__list {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  .description__benefit {
    margin-top: 1rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 1rem;
      height: 2px;
      background-color: #000;
      left: 0;
      top: calc(50% - 1px)
    }
  }

  .promo__title,
  .description__title,
  .description__subtitle,
  .form__title {
    font-size: 2rem;
  }

  .form__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form__title {
    text-align: center;
  }

  .form__text {
    text-align: center;
  }

  .form__form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
  }

  .form__label {
    width: 100%;
  }

  .form__input {
    width: 100%;
    height: 2rem;
    border: 0.1rem solid tomato;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
  }

  .form__submit {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    background: tomato;
    border: none;
    color: #fff;
    font-size: 1rem;
  }
</style>
