<template>
  <footer>
    <div class="wrapper">
      <MainLogo />
      <p>Разработано Авдошкиной Юлией в 2023 году</p>
    </div>
  </footer>
</template>

<script>
import MainLogo from './main-logo.vue';

export default {
  name: 'StandardFooter',
  components: {
    MainLogo,
  },
};
</script>

<style lang="scss" scoped>
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer {
    padding: 1rem 0;
  }
</style>
