<template>
  <header>
    <div class="wrapper">
      <MainLogo type="header"/>
      <MainSearch/>
      <MainNavigation/>
      <MainUser :isLogged="true"/>
    </div>
  </header>
</template>

<script>
import MainLogo from './main-logo.vue';
import MainNavigation from './main-navigation.vue';
import MainUser from './main-user.vue';
import MainSearch from './main-search.vue';

export default {
  name: 'StandardHeader',
  components: {
    MainLogo,
    MainNavigation,
    MainUser,
    MainSearch,
  },
};
</script>

<style lang="scss" scoped>
  header {
    padding: 1rem 0;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
