<template>
  <section class="task">
    <div class="wrapper">
      <h2 class="task__title">{{task?.name}}</h2>
      <p class="task__description">
        {{task?.description}}
      </p>
      <div class="task__actors">
        <p class="task__worker">{{task?.worker}}</p>
        <p class="task__customer">{{task?.customer}}</p>
      </div>
      <p class="task__importance">{{task?.importance}}</p>
    </div>
  </section>
</template>

<script>
export default {
  name: 'TaskDetailed',
  data: () => ({
    id: Number,
    task: {},
  }),
  created() {
    const parts = window.location.href.split('/');
    this.id = parseInt(parts[parts.length - 1], 10);
    try {
      if (this.$store.state.tasks.length < 1) {
        this.$store.dispatch('SET_TASKS');
      }
    } finally {
      this.task = this.$store.state.tasks[this.id];
    }
  },
  async mounted() {
    if (this.$store.state.tasks.length < 1) {
      await this.$store.dispatch('SET_TASKS');
    }
    this.task = this.$store.state.tasks[this.id];
  },
};
</script>

<style lang="scss" scoped>
.task {
  margin-top: 2rem;
}

.task__title {
  margin-bottom: 2rem;
}

.task__description {
  margin-bottom: 2rem;
}

.task__actors {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem
}

.task__worker,
.task__customer {
  font-weight: 800;
}

.task__importance {
  font-weight: 800;
  font-size: 5rem;
  text-align: center;
}
</style>
