<template>
  <div class="controls">
    <button @click="refresh" class="refresh">Обновить</button>
    <form @submit.prevent="sort" class="sort">
      <label for="sort-importance" class="sort__label">
        <input
          v-model="sortRequest"
          type="radio"
          value="importance"
          id="sort-importance"
          class="sort__input"
        >
        <span class="sort__descriptor">Сортировать по важности</span>
      </label>
      <label for="sort-name" class="sort__label">
        <input
          v-model="sortRequest"
          type="radio"
          value="name"
          id="sort-name"
          class="sort__input"
        >
        <span class="sort__descriptor">Сортировать по названию</span>
      </label>
      <label for="sort-description" class="sort__label">
        <input
          v-model="sortRequest"
          type="radio"
          value="description"
          id="sort-description"
          class="sort__input"
        >
        <span class="sort__descriptor">Сортировать по описанию</span>
      </label>
      <button type="submit">Искать</button>
    </form>
    <form @submit.prevent="search" action="" class="look">
      <label for="look-search" class="look__label">
        <input type="text" v-model="searchRequest" id="look-search" class="look__input">
        <span class="look__descriptor">Поиск по запросу</span>
      </label>
      <button class="look__submit">Искать</button>
    </form>
  </div>
</template>

<script>
export default {
  name: 'TasksControl',
  data: () => ({
    searchRequest: '',
    sortRequest: 'name',
  }),
  mounted() {
  },
  methods: {
    sort: () => {
      // this.$store.dispatch('SET_MODIFIED_TASKS', this.sortRequest);
    },
    search: () => {
      // this.$store.dispatch('SET_FIND', this.searchRequest);
    },
    refresh: () => {
      // this.$store.dispatch('SET_TASKS');
    },
  },
};
</script>

<style lang="scss" scoped>
  button {
    font-size: 1rem;
    padding: 1rem;
    background: tomato;
    border: none;
    border-radius: 2rem;
    color: #fff;
  }

  .controls {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  form {
    display: flex;
    align-items: center;
  }

  label {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
  }

  span {
    transition: transform 0.5s;
  }

  input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;

    &+ span {
      cursor: pointer;
    }

    &:checked + span{
      color: tomato;
      transform: scale(1.1);
    }
  }

  .look__label {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .look__input {
    padding: 0.5rem;
    border: 0.1rem solid tomato;
    border-radius: 2rem;

    &+ span {
      transition: color 0.5s;
    }

    &:focus + span {
      color: tomato
    }
  }
</style>
