<template>
  <ul class="tasks">
    <li class="tasks__item" v-for="task in this.$store.state.modifiedTasks" v-bind:key="task.id">
      <router-link :to="{path: '/tasks/' + task.id}">
        <h3 class="tasks__title">{{task.name}}</h3>
        <p class="tasks__description">{{task.description}}</p>
        <div class="tasks__info">
          <p class="tasks__worker">{{task.worker}}</p>
          <p class="tasks__customer">{{task.customer}}</p>
        </div>
        <p class="tasks__importance">{{task.importance}}</p>
      </router-link>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'TasksList',
  created() {
    this.$store.dispatch('SET_TASKS');
  },
};
</script>

<style lang="scss" scoped>
.tasks {
  width: 100%;
  margin-top: 2rem;
  list-style: none;
}

a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  text-decoration: none;

  &:hover, :focus {
    outline: 0.5rem solid tomato;
  }
}

.tasks__description {
  max-width: 50rem;
}

.tasks__description,
.tasks__worker,
.tasks__customer,
.tasks__title,
.tasks__importance {
  font-size: 1rem;
  color: #000;
}

.tasks__item:nth-child(even) {
  background-color: grey;

  a {
    .tasks__description,
    .tasks__worker,
    .tasks__customer,
    .tasks__title,
    .tasks__importance {
      color: #fff;
    }
  }
}

.tasks__worker {
  margin-bottom: 1rem;
}
</style>
